{{define "body"}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" id="apinav">
      <ul class="nav nav-sidebar">
        <li><a href="#syntax_json"><abbr title="JSON"><span class="sideoverflow">JSON</span></abbr></a></li>
        <li class="divider"></li>
        <li class="text-right"><a href="#top"><small>Back to Top</small></a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ol class="breadcrumb" id="top">
        <li class="active dropdown"><a href="index.html">Home</a></li>
        <li class="dropdown"><a href="dataTypes.html">Data Types</a></li>
      </ol>

      <h1 class="page-header" id="data">Data Types</h1>

      <h3 id="syntax_json">JSON</h3>

      <table class="table table-hover data-types">
        <thead>
          <tr>
            <th align="center">type</th>
            <th align="center">description</th>
          </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
          {{range .}}
          <tr class="clickable-row" data-href="json_{{.Name}}.html">
            <td>
              <span class="datatype-name">{{.Name}}</span>
            </td>
            <td>
              <span class="datatype-description">{{range .Docs}}{{.}}<br>{{end}}</span>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>

      {{template "footer" .}}

    </div>
  </div>
</div>
{{end}}