{{define "body"}}
<!-- {{.}} -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" id="apinav">
      <ul class="nav nav-sidebar">

        {{ $resource := .Name }}
        {{ $basePath := .Path }}
        {{ range .Methods }}
        <li>
        {{if .IsSocketMessage }}
          <a href="#ws_message_{{$resource}}_{{.Name}}_{{.Method}}">
            <abbr title="{{.Method}} {{$basePath}}{{.Path}}">
              <span class="sideoverflow">
                {{.Name}}
              </span>
            </abbr>
          </a>
        {{else}}
          <a href="#ws_method_{{$resource}}_{{.Name}}_{{.Method}}">
            <abbr title="{{.Method}} {{$basePath}}{{.Path}}">
              <span class="sideoverflow">
                {{.Method}} {{$basePath}}{{.Path}}
              </span>
            </abbr>
          </a>
        {{end}}
        </li>
        {{end}}
        <li class="divider"></li>
        <li class="text-right"><a href="#top"><small>Back to Top</small></a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ol class="breadcrumb" id="top">
        <li class="active dropdown"><a href="index.html">Home</a></li>
        <li class="active dropdown"><a href="webSockets.html">Web Sockets</a></li>
        <li class="dropdown"><a href="web_socket_{{.Name}}.html">{{.Name}}</a></li>
      </ol>

      <h1 class="page-header">{{.Name}} <small>Web Socket</small></h1>

      <p>{{range .Docs}}{{.}}<br>{{end}}</p>


      {{range .Methods}}

      {{if .IsSocketMessage }}
        <hr>
        <div id="ws_message_{{$resource}}_{{.Name}}_{{.Method}}">
          <h3>
            <span class="label label-default resource-method">{{.Method}}</span>
            &nbsp;
            <span class="resource-path">{{.Name}}</span>
          </h3>

          <p>{{range .Docs}}{{.}}<br>{{end}}</p>

          <caption>Message Structure: </caption>
          <span class="datatype-reference"><a href="json_{{.Return.Name}}.html">{{.Return.Name}}</a> (JSON)</span>

        </div>
      {{else}}
        <div id="ws_method_{{$resource}}_{{.Name}}_{{.Method}}">
          <h3>
            <span class="label label-default resource-method">{{.Method}}</span>&nbsp;
            <span class="resource-path">{{$basePath}}{{.Path}}</span>
          </h3>

          <p>{{range .Docs}}{{.}}<br>{{end}}</p>

          <table class="table resource-parameters">
            <caption>Request Parameters</caption>
            <thead>
            <tr>
              <th>name</th>
              <th>type</th>
              <th>description</th>
              <th>default</th>
              <th>constraints</th>
            </tr>
            </thead>
            <tbody>
            {{.QueryParams | addParams }}
            {{.PathParams | addParams }}
            </tbody>
          </table>

        </div>
      {{end}}

      {{end}}
      <br>
      <br>


      {{template "footer" .}}

    </div>
  </div>
</div>

{{end}}