{{define "body"}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="apinav">
            <ul class="nav nav-sidebar">
                {{ range $key, $value := (. | listServicesGroups) }}
                <li><a href="#{{$key | removeSpaces}}"><span class="sideoverflow">{{$key}}</span></a></li>
                {{end}}
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb" id="top">
                <li class="active dropdown"><a href="index.html">Home</a></li>
                <li class="dropdown"><a href="resources.html">Resources</a></li>
            </ol>

            <h1 class="page-header" id="data">REST Endpoints</h1>

            <h4 id="syntax_json">Overview</h4>

            <p>The innoVi Core API exposes all innoVi functionality to the various consumers (applications and services) as REST endpoints</p>
            <p>The API URL is composed of the following segments: <code>https://[address]/[version]/[method]?[parameters]</code><br>
            <ul>
                <li><code>address</code> - endpoint IP address or DNS name. In the SaaS environment it is <code>https://api.innovi.io</code>, in a local deployment it is: <code>https://api.innovi.app</code></li>
                <li><code>version</code> - API version (currently it is v1).</li>
                <li><code>method</code> - API resource name including path parameters.</li>
                <li><code>parameters</code> - Optional query parameters (required for some methods, see details in the method documentation.</li>
            </ul>
            </p>
            <p>for example: to invoke a query for all rules use the following URL:<br>
                <code>https://api.innovi.io/v1/rules</code>
            </p>
            <p>To use the API, the following HTTP headers are required</p>
            <ul>
                <li><code>X-API-KEY</code> - Any consumer MUST include API key provided by Agent Vi. API Keys are used to identify the services consumer (application/service) type and grant access to relevant resources only.</li>
                <li><code>X-ACCESS-TOKEN</code> - After a successful login, any subsequent call MUST include the access token which is used to identify the user/service who are using API resources.</li>
            </ul>

            <hr>


            {{ range $key, $value := (. | listServicesGroups) }}

            <h3 id="{{$key | removeSpaces}}">{{$key}}</h3>
            <table class="table table-hover resources">
                <thead>
                    <tr>
                        <th align="center">name</th>
                        <th align="center">path</th>
                        <th align="center">methods</th>
                        <th align="center">description</th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">
                    {{range .}}
                    <tr class="clickable-row" data-href="resource_{{.Name}}.html">
                        <td> <span class="resource-name">{{.Name}}</span></td>
                        <td class="text-nowrap">
                            <ul class="list-unstyled">
                                {{. | listServiceMethods }}
                            </ul>
                        </td>
                        <td class="text-nowrap">
                            <ul class="list-unstyled">
                                {{. | listPathMethodTypes}}
                            </ul>
                        </td>
                        <td>
                            <span class="resource-description">
                                {{range .Docs}}{{.}}<br> {{end}}
                            </span>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            {{end}}

        </div>
    </div>
</div>
{{template "footer" .}}
{{end}}