{{define "body"}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" id="apinav">
      <ul class="nav nav-sidebar">
        <li><a href="#syntax_json"><abbr title="JSON"><span class="sideoverflow">JSON</span></abbr></a></li>
        <li class="divider"></li>
        <li class="text-right"><a href="#top"><small>Back to Top</small></a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ol class="breadcrumb" id="top">
        <li class="dropdown"><a href="index.html">Home</a></li>
        <li class="active dropdown"><a href="webHook.html">Web Hook</a></li>
      </ol>

      <h1 class="page-header" id="data">Web Hook</h1>

      <h4 id="syntax_json">Overview</h4>

      <p>A WebHook (also called a web callback or HTTP push API) is a way for an application to provide 3rd party applications with real-time information.
        It is unlike typical APIs whereby the 3rd party application needs to poll for data very frequently in order to receive information in real-time.
        This makes WebHooks much more efficient for both the originating application and the receiving 3rd party application.</p>
      <p>innoVi WebHook API is designed to push events detected in real-time to 3rd party applications by invoking HTTP POST requests to the endpoint provided by the 3rd party application.
        The innoVi WebHook API is designed to support many 3rd party applications by providing a highly customized data transformation mechanism (using a template engine) to enable the user to design the data structure in line with their needs, rather than re-writing their existing HTTP endpoint (which is not possible in cases where the user employs a closed commercial package without the ability to modify the API).
      </p>

      <img src="img/webhook-img-01.png" >
      <hr>

      <h4 id="syntax_json">Using WebHook API</h4>
      <p>The user can use innoVi’s default WebHook definitions or customize the data according to their needs</p><br>
      <p>For more details, please refer to the <a href="https://tinyurl.com/tf4ww4a">innoVi WebHook Guide</a></p>

      <h5>Step 1: Define integration target</h5>
      <img src="img/webhook-img-02.png" >
      <ol>
        <li>Login into your innoVi account and open the <b>Integration</b> Targets tab under <b>Settings</b> module.</li>
        <li>
        <p>Add integration target of type HTTP, and configure the following settings:</p>
        <ul>
          <li><b>Method: </b> Provide the HTTP method (the most common use case is POST but we support PUT and GET as well)</li>
          <li><b>URL: </b>Provide the HTTP URL endpoint to which innoVi will submit the requests<br>
            Note: Both HTTP and HTTPS URLs are supported. HTTPS is recommended for security reasons</li>
          <li><b>Headers: </b> You may provide a list of HTTP headers that will be added to the request<br>
            By default, the following header is added: <code>Content-Type: application/json</code>
          </li>
        </ul>
        </li>
        <li>
          provide the HTTP method (usually POST), URL and HTTP headers.<br>
          The URL should use the schema <code>http://</code> or <code>https://</code> as required by the integrated system<br>
          The HTTP headers are required by the integrated system (e.g. for security tokens)
        </li>
        <li>Name the integration target and save it</li>
      </ol>

      <hr>
      <h5>Step 2: Define integration action</h5>
      <ol>
        <li>Integration actions can be specified in the root (account) level or in any folder in the account hierarchy<br>
          When event is generated for sensor, any integration action specified in the sensor's folder or any parent folder (up to the account level) will be invoked<br>
          There is no limit on number of integrations so a single event may invoke several integration actions
        </li>
        <li>
          <p>In the <b>Administrator</b> tab, select the node in the account hierarchy (root or folder) where you want to invoke integration action<br>
            Select the <b>Integrations</b> tab, add new integration action and configure the following settings:
          </p>
          <ul>
            <li><b>Target: </b> Select the integration target from the list (only targets of type HTTP/S are listed)</li>
            <li><b>MIME Type: </b>Provide the MIME type. The default is <code>application/json</code> for body that includes Json format but you may change it (e.g. if you want the body to include XML, you should provide MIME Type <code>application/xml</code>)</li>
            <li><b>Body Template: </b> You may provide a template to customize the body content. You can specify any text you want and use system defined template variables to be replaced by the event attributes at run time when the system shall invoke the integration action<br>
            </li>
          </ul>
        </li>
      </ol>

      <hr>
      <h4>Template Variables</h4>
      <p>Any template variable must be provided in the following format: &#123;&#123;var_name&#125;&#125;. See below the list of supported variables:</p>

      <table class="table table-hover data-types">
        <thead>
          <tr>
            <th align="center">Variable</th>
            <th align="center">Type</th>
            <th align="center">Description</th>
          </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
          <tr>
            <td><span class="datatype-name">&#123;&#123;.Id&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Unique Event Id (GUID with dashes)</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.Account&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Unique Account Id</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.AccountName&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Account Name</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.FolderId&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Sensor's Folder Unique Id</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.FolderName&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Sensor's Folder Name</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.SensorId&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Sensor Unique Id</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.SensorName&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Sensor Name</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.ExtSensorId&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">External (user defined) sensor Id (for integrations)</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.RuleId&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Rule Unique Id</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.RuleName&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Rule Name</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.ExtRuleId&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">External (user defined) rule Id (for integrations)</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.ObjectType&#125;&#125;</span></td>
            <td><span class="datatype-name">Number</span></td>
            <td><span class="datatype-description">Detected object type code</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.ObjectTypeName&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Detected object type name</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.BehaviorType&#125;&#125;</span></td>
            <td><span class="datatype-name">Number</span></td>
            <td><span class="datatype-description">Detected object's behavior code</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.BehaviorTypeName&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Detected object's behavior name</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.EventTime&#125;&#125;</span></td>
            <td><span class="datatype-name">Number</span></td>
            <td><span class="datatype-description">Event time (Epoch time milliseconds)</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;FormattedEventTime "YYYY-MM-DD HH:mm:ss"&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Formatted event time (according to the provided format template)</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.Description&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Event description (for anomaly events)</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.Status&#125;&#125;</span></td>
            <td><span class="datatype-name">Number</span></td>
            <td><span class="datatype-description">Event status code</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.Severity&#125;&#125;</span></td>
            <td><span class="datatype-name">Number</span></td>
            <td><span class="datatype-description">Event severity code</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.EventImageUri&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">URL to get the Event Image</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.EventClipUri&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">URL to get the Event Verification Clip</span></td>
          </tr>
          <tr>
            <td><span class="datatype-name">&#123;&#123;.EventImageAsBase64&#125;&#125;</span></td>
            <td><span class="datatype-name">String</span></td>
            <td><span class="datatype-description">Event image encoded as Base64 string</span></td>
          </tr>
        </tbody>
      </table>

      <h4>Json Template Example</h4>
      <table width="100%">
        <thead>
        <tr>
          <th>Template</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <pre>
              {
                "accountId": "&#123;&#123;.AccountId&#125;&#125;",
                "cameraId": "&#123;&#123;.SensorId&#125;&#125;",
                "cameraName": "&#123;&#123;.SensorName&#125;&#125;",
                "ruleId": "&#123;&#123;.RuleId&#125;&#125;",
                "ruleName": "&#123;&#123;.RuleName&#125;&#125;",
                "object": "&#123;&#123;.ObjectTypeName&#125;&#125;"
                "behavior": "&#123;&#123;.BehaviorTypeName&#125;&#125;",
                "timestamp" : &#123;&#123;.EventTime&#125;&#125;,
                "timeOfEvent": "&#123;&#123;FormattedEventTime `YYYY-MM-DD HH:mm:ss`&#125;&#125;"
              }
              </pre>
            </td>
          </tr>
          <tr>
            <th>Result</th>
          </tr>
          <tr>
            <td>
              <pre>
                {
                  "accountId": "81204765",
                  "cameraId": "1556763533004",
                  "cameraName": "Roof camera",
                  "ruleId": "1556086205271",
                  "ruleName": "Crossing the Line",
                  "object": "CAR"
                  "behavior": "LINE_CROSSING",
                  "timestamp" : 1582728328000,
                  "timeOfEvent": "2020-02-26 14:45:28"
                }
              </pre>
            </td>
          </tr>
        </tbody>
      </table>

      <br>

      <h4>XML Template Example</h4>
      <table width="100%">
        <thead>
        <tr>
          <th>Template</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <pre>
              <xmp>
                <EventInfo id="&#123;&#123;.EventId&#125;&#125;" timestamp="&#123;&#123;.EventTime&#125;&#125;">
                  <Account id="&#123;&#123;.AccountId&#125;&#125;" name="&#123;&#123;.AccountName&#125;&#125;"></Account>
                  <Sensor id="&#123;&#123;.SensorId&#125;&#125;" name="&#123;&#123;.SensorName&#125;&#125;"></Sensor>
                  <Folder id="&#123;&#123;.FolderId&#125;&#125;" name="&#123;&#123;.FolderName&#125;&#125;"></Folder>
                  <Rule id="&#123;&#123;.RuleId&#125;&#125;" name="&#123;&#123;.RuleName&#125;&#125;"></Rule>
                  <Detection object="&#123;&#123;.ObjectTypeName&#125;&#125;" behavior="&#123;&#123;.BehaviorTypeName&#125;&#125;"></Detection>
                  <EventImage>&#123;&#123;.EventImageUri&#125;&#125;</EventImage>
                  <EventClip>&#123;&#123;.EventClipUri&#125;&#125;</EventClip>
                  <ReadableTime>&#123;&#123;FormattedEventTime `DD-MMM-YYYY HH:mm:ss`&#125;&#125;</ReadableTime>
                </EventInfo>
              </xmp>
            </pre>
          </td>
        </tr>
        <tr>
          <th>Result</th>
        </tr>
        <tr>
          <td>
            <pre>
              <xmp>
                <EventInfo id="1e4cf586-fe34-42ef-af82-4bf723cad480" timestamp="1582728328000">
                  <Account id="81204765" name="Demo Account"></Account>
                  <Sensor id="1556763533004" name="Roof camera"></Sensor>
                  <Folder id="1575279202117" name="Roof"></Folder>
                  <Rule id="1556086205271" name="Crossing the line"></Rule>
                  <Detection object="CAR" behavior="LINE_CROSSING"></Detection>
                  <EventImage>https://api.innovi.io/eventImage?accountId=81204765&eventId=1e4cf586-fe34-42ef-af82-4bf723cad480&token=567rhlkuhwe7634h</EventImage>
                  <EventClip>https://api.innovi.io/eventClip?accountId=81204765&eventId=1e4cf586-fe34-42ef-af82-4bf723cad480&token=567rhlkuhwe7634h</EventClip>
                  <ReadableTime>26-Feb-2020 14:45:28 `DD-MMM-YYYY HH:mm:ss`&#125;&#125;</ReadableTime>
                </EventInfo>
              </xmp>
            </pre>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{{end}}